<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Grid</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.1/css/justifiedGallery.min.css">
    <style type="text/css">
        .gallery {
            padding-bottom: 2em;
        }
    </style>
</head>
<body>

{% for grid in grids %}
{{loop.index}} : {{ grid[0].text }}
<div id="mygallery-{{loop.index}}">
    {% for image in grid %}
    <a href="{{ image.href }}">
        <img alt="{{ image.text }}" src="{{ image.href }}"/>
    </a>
    {% endfor %}
    <!-- other images... -->
</div>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.1/js/jquery.justifiedGallery.min.js"></script>
<script type="text/javascript">
    {% for grid in grids %}
    $('#mygallery-{{loop.index}}').addClass('gallery').justifiedGallery({
        rowHeight: {{ row_height }}
    });
    {% endfor %}
</script>

</body>
</html>
