<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Grid</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.1/css/justifiedGallery.min.css">
</head>
<body>

<div id="mygallery" >
    {% for image in images %}
    <a href="{{ image.href }}">
        <img alt="{{ image.text }}" src="{{ image.href }}"/>
    </a>
    {% endfor %}
    <!-- other images... -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.1/js/jquery.justifiedGallery.min.js"></script>
<script type="text/javascript">
    $("#mygallery").justifiedGallery({
        rowHeight: {{ row_height }}
    });
</script>

</body>
</html>
