<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Grild</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.css" type="text/css">
</head>
<body>
<nav class="navbar navbar-light bg-faded">
    <span class="navbar-brand">Page {{ page_num }} of {{ page_count }}</span>
    <div class="pull-xs-right">
        <div class="nav-item">{{ '{:,d} total images'.format(total_image_count) }}</div>
    </div>
</nav>
<div class="container-fluid">
    {% for grid in grids %}
    <h4>{{first_claim_id + loop.index}} : {{ grid.claim_id }}, {{ grid.claim_info_text }}</h4>
    <div class="row imgrid-row">
        {% for image in grid.images %}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumb">
            <a href="{{ image.href }}" data-featherlite="image" class="thumbnail">
                <figure>
                    <img alt="{{ image.text }}" src="{{ image.href_thumb }}">
                    <figcaption class="figure-caption">Hello world</figcaption>
                </figure>
            </a>
        </div>
        {% endfor %}
        <!-- other images... -->
    </div>
    {% endfor %}
</div>

<nav>
    <ul class="pager">
        {% if page_num > 1 %}
        <li><a href="/{{page_num-1}}">Previous</a></li>
        {% else %}
        <li class="disabled"><a href="javascript: void(0)">Previous</a></li>
        {% endif %}
        {% if page_num < page_count %}
        <li><a href="/{{page_num+1}}">Next</a></li>
        {% else %}
        <li class="disabled"><a href="javascript: void(0)">Next</a></li>
        {% endif %}
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.js"></script>

</body>
</html>
